.SubmitButton {
    border-radius: 30%;
    min-width: 36px;
    height: 100%;
    font-size: 1.2rem;
    background-color: #fff;
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    padding: 0.2rem;
}

.SubmitButton[btntype='primary']:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.SubmitButton[btntype='primary']:focus {
    background-color: var(--color-highlight);
    color: var(--color-primary);
}

.SubmitButton[btntype='secondary']:hover {
    background-color: var(--color-highlight);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.SubmitButton[btntype='secondary']:focus {
    background-color: var(--color-highlight2);
    color: var(--color-primary);
}