.Header {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.Header>a {
    text-decoration: none;
    color: var(--color-highlight2);
}

.Header h1 span {
    color: var(--color-highlight)
}