:root {
    --color-primary: #FFFCF2;
    --color-secondary: #403D39;
    --color-highlight: #EB5E28;
    --color-highlight2: #FCA311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
}

body, input, textarea, button {
    font-size: 1.2rem;
    font-family: sans-serif;
}